.body {
  display: flex;
  width: 90%;
  height: 750px;
  background-color: antiquewhite;
  margin: auto;
  margin-top: 6vh;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 6px 20px 0 rgba(166, 172, 246, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: relative;
}

#setting-area {
  display: flex;
  width: 80%;
  height: 90%;
  flex-direction: column;
  align-self: center;
  position: absolute;
  left: 50%;
  margin-top: 150px;
  border-radius: 30px;
  transform: translateX(-45%);
}
#back-icon {
  width: 24px;
  position: absolute;
  left: -100px;
  top: -50px;
  transform: rotate(-180deg);
}
#back-icon {
  cursor: pointer;
}

/* -------FORM CSS------ */
.upload-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 60%;
  height: 55%;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
  font-family: sans-serif;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.upload-form:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  transform: translateX(-50%) translateY(-2px);
}

.upload-form > label {
  color: black;
}
.upload-form img {
  width: 240px;
}
.upload-form input[type="text"],
.upload-form input[type="file"] {
  width: 95%;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.sp-btn {
  padding: 10px;
  width: 100%;
  background-color: rgb(237, 54, 54);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(113, 5, 5);
}

button[type="submit"] {
  margin: 20px 0px;
}
#logout-btn {
  margin-top: 50px;
  width: 60%;
  margin-left: 45%;
  transform: translate(-53%);
}
