.body {
  display: flex;
  width: 90%;
  height: 100%;
  background-color: antiquewhite;
  margin-top: 6vh;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 6px 20px 0 rgba(166, 172, 246, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.profile {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.post-all-area {
  flex: 6;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  box-sizing: border-box;
}
